<app-header></app-header>
<app-home-slide-bar></app-home-slide-bar>

<div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center bg-primary text-white py-3">
    <h4 class="text-center">MAKE AN APPOINTMENT NOW WITH OUR ONLINE FORM</h4>
    <button class="btn-theme" routerLink="/appoinment">make and appointment</button>
</div>

<div class="d-flex flex-column align-items-center py-2">
    <div class="title py-2">
        <h1 class="text-center">why c<span>hous</span>e us</h1>
        <p class="w-50 text-center m-auto">We are one of the leading auto repair shops serving customers in Tucson.
            All mechanic services are performed by highly qualified mechanics.</p>
    </div>
    <div class="row py-3 d-flex flex-row align-items-start justify-content-evenly">
        <div class="chouse-box-info col-lg-3 p-3 d-flex flex-column align-items-center">
            <i class="fa-solid fa-briefcase"></i>
            <h4>every job is personal</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, non debitis distinctio corporis nemo et ad iusto sed veniam voluptates</p>
        </div>
        <div class="chouse-box-info col-lg-3 p-3 d-flex flex-column align-items-center">
            <i class="fa-solid fa-car"></i>
            <h4>best materials</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error nulla praesentium, placeat assumenda nostrum voluptas harum debitis laudantium, sapiente alias impedit odit, earum officiis</p>
        </div>
        <div class="chouse-box-info col-lg-3 p-3 d-flex flex-column align-items-center">
            <i class="fa-solid fa-chalkboard-user"></i>
            <h4>personal standarts</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor praesentium harum blanditiis provident nesciunt cupiditate, perspiciatis velit repellat.</p>
        </div>
    </div>
    <button class="btn-theme" routerLink="/pages">read more</button>
</div>

<div class="row d-flex flex-row aling-items-center py-3">
    <div class="col-xl-12 col-xxl-6">
        <img class="img-fluid" src="./../../../assets/images/img4.avif" alt="image 5">
    </div>
    <div class="col-xl-12 col-xxl-6 d-flex flex-column align-items-center py-2">
        <div class="title py-2">
            <h1 class="text-center">wehicl<span>es se</span>rvice</h1>
            <p class="w-50 text-center m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus vero minima iusto eligendi, ea unde harum veritatis cumque fuga dolorem:</p>
        </div>
        <div class="row py-3 w-75 d-flex flex-row align-items-start justify-content-evenly">
            <div class="serviced-box-info col-sm-4 py-3 d-flex flex-column align-items-start">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>General Motors</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Land Rover</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Lexus</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Lincoln</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Mazda</p>
                </div>
            </div>
            <div class="serviced-box-info col-sm-4 py-3 d-flex flex-column align-items-star">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Mercedes – Benz</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Mercury</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Mitsubishi</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Nissan</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Renault</p>
                </div>
            </div>
            <div class="serviced-box-info col-sm-4 py-3 d-flex flex-column align-items-start">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Plymouth</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Pontiac Porsche</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Rover</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Saab</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-check"></i>
                    <p>Saleen</p>
                </div>
            </div>
        </div>
        <button class="btn-theme" routerLink="services">view full list</button>
    </div>
</div>

<div class="d-flex flex-column align-items-center py-2">
    <div class="title py-2">
        <h1 class="text-center">auto re<span>pair s</span>ervices</h1>
        <p class="w-50 text-center m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque ad facilis vel expedita cupiditate, unde, veniam qui asperiores numquam earum. Asperiores eum dicta cupiditate autem veniam possimus omnis maxime</p>
    </div>
    <div class="row py-3 d-flex flex-row align-items-start justify-content-center">
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img5.avif" alt="">
            <h4 class="px-3 py-1 bg-primary text-white d-block w-100">ENGINE DIAGNOSTICS</h4>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img6.avif" alt="">
            <h4 class="px-3 py-1 bg-primary text-white d-block w-100">LUBE, OIL AND FILTERS</h4>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img7.avif" alt="">
            <h4 class="px-3 py-1 bg-primary text-white d-block w-100">BELTS AND HOSES</h4>
        </div>
    </div>
    <button class="btn-theme" routerLink="/services">view all services</button>
</div>

<div class="d-flex flex-column align-items-center py-2">
    <div class="title py-2">
        <h1 class="text-center">compa<span>ny ov</span>erview</h1>
        <p class="w-50 text-center m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem neque ad facilis vel expedita cupiditate, unde, veniam qui asperiores numquam earum. Asperiores eum dicta cupiditate autem veniam possimus omnis maxime</p>
    </div>
    <div class="row py-3 d-flex flex-row align-items-start justify-content-center">
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>CAR AUDIO SERVICE</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, asperiores id nihil qui maxime, incidunt ullam alias ratione, perspiciatis autem perferendis quas nostrum reiciendis repudiandae.</p>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>PARKING SENSORS CALIBRATION</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, repellendus alias! Repudiandae veritatis molestiae, harum ipsum natus ea exercitationem pariatur labore nam! Aliquid distinctio quia quo ad repellat harum sunt.</p>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>ENGINE DIAGNOSTICS</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit exercitationem facilis accusamus sapiente illum atque adipisci, eius ullam consectetur assumenda!</p>
        </div>
    </div>
    <div class="row py-3 d-flex flex-row align-items-start justify-content-center">
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>CAR A/C RECHARGE</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, asperiores id nihil qui maxime, incidunt ullam alias ratione, perspiciatis autem perferendis quas nostrum reiciendis repudiandae.</p>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>FREE OIL CHANGE</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, repellendus alias! Repudiandae veritatis molestiae, harum ipsum natus ea exercitationem pariatur labore nam! Aliquid distinctio quia quo ad repellat harum sunt.</p>
        </div>
        <div class="chouse-box-info col-lg-3 py-3 d-flex flex-column align-items-center">
            <h4>CAR BATTERY REPAIRS</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit exercitationem facilis accusamus sapiente illum atque adipisci, eius ullam consectetur assumenda!</p>
        </div>
    </div>
    <div class="row py-3 d-flex flex-row align-items-start justify-content-center">
        <div class="chouse-box-info overview-box col-md-6 col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img8.avif" alt="">
            <div class="overview-info">
                <h5>tire change</h5>
                <button class="btn-theme">read more</button>
            </div>
        </div>
        <div class="chouse-box-info overview-box col-md-6 col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img9.avif" alt="">
            <div class="overview-info">
                <h5>oil change</h5>
                <button class="btn-theme">read more</button>
            </div>
        </div>
        <div class="chouse-box-info overview-box col-md-6 col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img10.avif" alt="">
            <div class="overview-info">
                <h5>lube change</h5>
                <button class="btn-theme">read more</button>
            </div>
        </div>
        <div class="chouse-box-info overview-box col-md-6 col-lg-3 py-3 d-flex flex-column align-items-start">
            <img class="img-fluid" src="./../../../assets/images/img11.avif" alt="">
            <div class="overview-info">
                <h5>brake repair</h5>
                <button class="btn-theme">read more</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center bg-primary text-white py-3">
    <h4>DO YOU LIKE WHAT YOU SEE</h4>
    <button class="btn-theme" routerLink="/appoinment">make and appointment</button>
</div>

<app-footer></app-footer>