<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-item-info d-flex flex-column align-items-center">
            <h1>make tour car last longer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, hic</p>
            <button>get consultation</button>
        </div>
        <img src="./../../../assets/images/img1.avif" class="d-block w-100" alt="images 1">
      </div>
      <div class="carousel-item">
        <div class="carousel-item-info d-flex flex-column align-items-center">
            <h1>find the tires that match your needs</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non neque doloribus quasi</p>
            <button>get consultation</button>
        </div>
        <img src="./../../../assets/images/img2.avif" class="d-block w-100" alt="images 2">
      </div>
      <div class="carousel-item">
        <div class="carousel-item-info d-flex flex-column align-items-center">
            <h1>expert technician, competive prices</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <button>get consultation</button>
        </div>
        <img src="./../../../assets/images/img3.avif" class="d-block w-100" alt="images 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


