<app-header></app-header>
<app-current-template-url></app-current-template-url>

<div class="container my-5 py-2">
    <div class="row justify-content-center w-10 py-2">
        <div class="col-8 col-lg-3">
            <div class="team-box">
                <img src="./../../../assets/images/img13.avif" class="img-fluid" alt="">
                <div class="social-box  w-100 justify-content-center">
                    <a href="https://www.facebook.com/" class="mx-2"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/" class="mx-2"><i class="fa- brands fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/" class="mx-2"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div class="team-info d-flex align-items-center flex-column">
                <h3 class="tex-center text-capitalize">jhon joe</h3>
                <span class="tex-center text-uppercase">founder</span>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ab, fuga asperiores ullam vel debitis</p>
            </div>
        </div>
        <div class="col-8 col-lg-3">
                        <div class="team-box">
                <img src="./../../../assets/images/img12.jpg" class="img-fluid" alt="">
                <div class="social-box  w-100 justify-content-center">
                    <a href="https://www.facebook.com/" class="mx-2"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/" class="mx-2"><i class="fa- brands fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/" class="mx-2"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div class="team-info d-flex align-items-center flex-column">
                <h3 class="tex-center text-capitalize">Andji joe</h3>
                <span class="tex-center text-uppercase">founder</span>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ab, fuga asperiores ullam vel debitis</p>
            </div>
        </div>
        <div class="col-8 col-lg-3">
                        <div class="team-box">
                <img src="./../../../assets/images/img14.avif" class="img-fluid" alt="">
                <div class="social-box  w-100 justify-content-center">
                    <a href="https://www.facebook.com/" class="mx-2"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/" class="mx-2"><i class="fa- brands fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/" class="mx-2"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div class="team-info d-flex align-items-center flex-column">
                <h3 class="tex-center text-capitalize">Muhamat Pater</h3>
                <span class="tex-center text-uppercase">founder</span>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ab, fuga asperiores ullam vel debitis</p>
            </div>
        </div>
    </div>
</div>

<div class="container bg-secondary py-2">
    <h3 class="text-capitalize text-white mb-5">our skils</h3>
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let progress of progressBars; let index=index ">
            <div class="d-flex align-items-center flex-column">
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="progress.percent"></div>
                </div>
                <div class="d-flex w-75 justify-content-around">
                    <p class="text-white">{{progressBarsTitle[index].title}}</p>
                    <p class="text-white">{{progress.percent}}%</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
