<div class="d-flex flex-column align-items-center">
    <div class="header-top row container-fluid d-flex justify-content-center justify-content-md-around align-items-center">
        <div class="col-xl-8 col-12 my-1 left-content align-items-start flex-column flex-md-row d-flex align-items-md-center justify-content-center">
            <div class="p-2 contact-box d-flex align-items-center">
                <span class="px-2"><i class="fa-solid fa-phone"></i></span>
                <a href="tel:+### ### ### ###">+### ### ### ###</a>
            </div>
            <div class="p-2 contact-box d-flex align-items-center">
                <span class="px-2"><i class="fa-solid fa-envelope"></i></span>
                <a href="mailto:ekoservice@gmail.com">ekoservice@gmail.com</a>
            </div>
            <div class="p-2 contact-box d-flex align-items-center">
                <span class="px-2"><i class="fa-regular fa-clock"></i></span>
                <span>Mon-Fri: 9:00 am - 7:00 pm</span>
            </div>
        </div>
        <div class="col-xl-4 col-12 my-1 right-content d-flex align-items-center justify-content-center">
            <div class="p-2 px-3 social-box"><a href=""><i class="fa-brands fa-facebook-f"></i></a></div>
            <div class="p-2 px-3 social-box"><a href=""><i class="fa-brands fa-twitter"></i></a></div>
            <div class="p-2 px-3 social-box"><a href=""><i class="fa-brands fa-pinterest"></i></a></div>
            <div class="p-2 px-3 social-box"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="p-2 px-3 social-box search-box"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
    </div>
    <div class="header-bottom p-4 container-fluid flex-row d-flex justify-content-around align-items-center">
        <div class="brand text-primary w-10 d-flex flex-row align-items-center"><a href="/home"><span class="text-capitalize">eko</span><span class="text-capitalize">service</span></a></div>
        <div class="d-xxl-none d-flex flex-column align-items-center position-realtive">
            <div class="menu-hamburger" (click)="activeHamburgerMenu()">
                <i class="fa-solid fa-bars" [ngClass]="{ active: activeIsMenu }"></i>
            </div>
            <div class="menu position-absolute mt-5 w-50 z-index-1 d-flex flex-column align-items-center justify-content-around" *ngIf="!activeIsMenu" style="z-index: 3; right:0%; background: #efeded;">
                <a *ngFor="let item of navItems" class="px-2 text-capitalize"
                [routerLink]="'/'+ item.navItem"
                [ngStyle]="{ color: (item.navItem === 'home' && useDefaultActive) || (item.navItem === activeMenuItem && !useDefaultActive) ? '#0d6efd' : 'black' }"
                [class.active]="item.navItem === activeMenuItem"
                (click)="navMove(item.navItem)"
                (mouseenter)="onHover($event)"
                (mouseleave)="onLeave($event)">{{item.navItem}}</a>
            </div>
        </div>
        <div class="menu d-none d-xxl-flex flex-row align-items-center justify-content-around" >
            <a *ngFor="let item of navItems" class="px-2 text-capitalize"
            [routerLink]="'/'+ item.navItem"
            [ngStyle]="{ color: (item.navItem === 'home' && useDefaultActive) || (item.navItem === activeMenuItem && !useDefaultActive) ? '#0d6efd' : 'black' }"
            [class.active]="item.navItem === activeMenuItem"
            (click)="navMove(item.navItem)"
            (mouseenter)="onHover($event)"
            (mouseleave)="onLeave($event)">{{item.navItem}}</a>
        </div>
    </div>
</div>




