body{overflow-x: hidden;}
a{text-decoration: none;}
.btn-theme{
    background: rgb(255, 145, 0);
    border: 1px solid rgb(255, 145, 0);
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    transition: all .2s ease-in-out;
}

.btn-theme:hover{
    background:#0d6efd;
    color: rgb(255, 145, 0);
}

.template-title{
    background: #efeded;
}