<div class="footer container-fluid row justify-content-evenly">
    <div class="col-lg-3 d-flex flex-column align-items-start">
        <h3><span>abo</span>ut us</h3>
        <ul>
            <li>Lorem ipsum dolor sit 15</li>
            <li>mobile ##############</li>
            <li>assistance 44444444444444</li>
            <li>emai ekoservice@gmail.com</li>
        </ul>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-start">
        <h3><span>our</span> service</h3>
        <ul>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Engine Diagnostics</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Lube, Oil and Filters</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Belts and Hoses</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Air Conditioning</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Brake Repair</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Tire and Wheel Services</span></li>
            <li><span><i class="fa-solid fa-check"></i></span> <span>Other Car Services</span></li>
        </ul>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-start">
        <h3><span>pop</span>pular tags</h3>
        <ul>
            <li>
                <ul class="d-flex align-items-center">
                    <li><button class="btn-theme mx-1">BELTS</button></li>
                    <li><button class="btn-theme mx-1">SUSPENSION</button></li>
                    <li><button class="btn-theme mx-1">OILS</button></li>
                </ul>
            </li>
            <li>
                <ul class="d-flex align-items-center">
                    <li><button class="btn-theme mx-1">SUSPENSION</button></li>
                    <li><button class="btn-theme mx-1">BRAKES</button></li>
                    <li><button class="btn-theme mx-1">HEATING</button></li>
                </ul>
            </li>
            <li>
                <ul class="d-flex align-items-center">
                    <li><button class="btn-theme mx-1">DIAGNOSTICS</button></li>
                    <li><button class="btn-theme mx-1">ENGINE</button></li>
                    <li><button class="btn-theme mx-1">FILTERS</button></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xxl-12 text-center py-3">
        © Copyright 2023 Web Themplate By EkoService
    </div>
</div>


